.headerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.dark {
  background: none;
}
.light {
  background: none;
}
.headerTitle {
  font-size: 2rem;
  font-weight: bold;
  transition: color 0.3s;
  color: #232339;
}
.dark .headerTitle {
  color: #b0b0ff;
}
.light .headerTitle {
  color: #232339;
}
